#### **Cleaning empty cells**

Check nullity in data

In [37]:
import pandas as pd

df = pd.read_csv('data2.csv')

print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  32 non-null     int64
 1   Date      31 non-null     object
 2   Pulse     32 non-null     int64
 3   Maxpulse  32 non-null     int64
 4   Calories  30 non-null     float64
dtypes: float64(1), int64(3), object(1)
memory usage: 1.4+ KB
None

Clean null data and save as a new DataFrame

In [38]:
df = pd.read_csv('data2.csv')

df_cleaned = df.dropna()

print(df_cleaned.info())

<class 'pandas.core.frame.DataFrame'>
Index: 29 entries, 0 to 31
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  29 non-null     int64
 1   Date      29 non-null     object
 2   Pulse     29 non-null     int64
 3   Maxpulse  29 non-null     int64
 4   Calories  29 non-null     float64
dtypes: float64(1), int64(3), object(1)
memory usage: 1.4+ KB
None

Cleaned null data and replace the original data

In [39]:
df = pd.read_csv('data2.csv')

df.dropna(inplace=True)

print(df.info())

<class 'pandas.core.frame.DataFrame'>
Index: 29 entries, 0 to 31
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  29 non-null     int64
 1   Date      29 non-null     object
 2   Pulse     29 non-null     int64
 3   Maxpulse  29 non-null     int64
 4   Calories  29 non-null     float64
dtypes: float64(1), int64(3), object(1)
memory usage: 1.4+ KB
None

Replace null values with any value

In [40]:
df = pd.read_csv('data2.csv')

df.fillna(0, inplace=True)

print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  32 non-null     int64
 1   Date      32 non-null     object
 2   Pulse     32 non-null     int64
 3   Maxpulse  32 non-null     int64
 4   Calories  32 non-null     float64
dtypes: float64(1), int64(3), object(1)
memory usage: 1.4+ KB
None

Replace null values with any value for only specified column

In [41]:
df = pd.read_csv('data2.csv')

df.fillna({'Calories': 0}, inplace=True)

df.query('Calories == 0')

    Duration          Date  Pulse  Maxpulse  Calories
18        45  '2020/12/18'     90       112       0.0
28        60  '2020/12/28'    103       132       0.0

Replace null value with mean

In [42]:
df = pd.read_csv('data2.csv')

mean = df['Calories'].mean()

df.fillna({'Calories' : mean}, inplace=True)

# access the replaced row
df[df['Calories'] == df['Calories'].mean()]

Empty DataFrame
Columns: [Duration, Date, Pulse, Maxpulse, Calories]
Index: []

Replace null value with median

In [43]:
df = pd.read_csv('data2.csv')

median = df['Calories'].median()

df.fillna({'Calories': median}, inplace=True)

df[df['Calories'] == df['Calories'].median()]

    Duration          Date  Pulse  Maxpulse  Calories
18        45  '2020/12/18'     90       112     291.2
28        60  '2020/12/28'    103       132     291.2

Replace null value with mode

In [44]:
df = pd.read_csv('data2.csv')

mode = df['Calories'].mode()[0]

df.fillna({'Calories' : mode}, inplace=True)

df[df['Calories'] == df['Calories'].mode()[0]]

    Duration          Date  Pulse  Maxpulse  Calories
5         60  '2020/12/06'    102       127     300.0
17        60  '2020/12/17'    100       120     300.0
18        45  '2020/12/18'     90       112     300.0
23        60  '2020/12/23'    130       101     300.0
28        60  '2020/12/28'    103       132     300.0

#### **Changing wrong format**

In [50]:
df = pd.read_csv('data2.csv')

df['Date'] = pd.to_datetime(df['Date'], format='mixed')
df

    Duration       Date  Pulse  Maxpulse  Calories
0         60 2020-12-01    110       130     409.1
1         60 2020-12-02    117       145     479.0
2         60 2020-12-03    103       135     340.0
3         45 2020-12-04    109       175     282.4
4         45 2020-12-05    117       148     406.0
5         60 2020-12-06    102       127     300.0
6         60 2020-12-07    110       136     374.0
7        450 2020-12-08    104       134     253.3
8         30 2020-12-09    109       133     195.1
9         60 2020-12-10     98       124     269.0
10        60 2020-12-11    103       147     329.3
11        60 2020-12-12    100       120     250.7
12        60 2020-12-12    100       120     250.7
13        60 2020-12-13    106       128     345.3
14        60 2020-12-14    104       132     379.3
15        60 2020-12-15     98       123     275.0
16        60 2020-12-16     98       120     215.2
17        60 2020-12-17    100       120     300.0
18        45 2020-12-18     90       112       NaN
19        60 2020-12-19    103       123     323.0
20        45 2020-12-20     97       125     243.0
21        60 2020-12-21    108       131     364.2
22        45        NaT    100       119     282.0
23        60 2020-12-23    130       101     300.0
24        45 2020-12-24    105       132     246.0
25        60 2020-12-25    102       126     334.5
26        60 2020-12-26    100       120     250.0
27        60 2020-12-27     92       118     241.0
28        60 2020-12-28    103       132       NaN
29        60 2020-12-29    100       132     280.0
30        60 2020-12-30    102       129     380.3
31        60 2020-12-31     92       115     243.0

Remove row(s) with null value

In [51]:
df.dropna(subset=['Date'], inplace=True)

df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 31 entries, 0 to 31
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Duration  31 non-null     int64
 1   Date      31 non-null     datetime64[ns]
 2   Pulse     31 non-null     int64
 3   Maxpulse  31 non-null     int64
 4   Calories  29 non-null     float64
dtypes: datetime64[ns](1), float64(1), int64(3)
memory usage: 1.5 KB

#### **Cleaning wrong data**

Replace value

In [55]:
df = pd.read_csv('data2.csv')

# row 7 showing wrong data at col duration
df.head(8)

   Duration          Date  Pulse  Maxpulse  Calories
0        60  '2020/12/01'    110       130     409.1
1        60  '2020/12/02'    117       145     479.0
2        60  '2020/12/03'    103       135     340.0
3        45  '2020/12/04'    109       175     282.4
4        45  '2020/12/05'    117       148     406.0
5        60  '2020/12/06'    102       127     300.0
6        60  '2020/12/07'    110       136     374.0
7       450  '2020/12/08'    104       134     253.3

In [57]:
df.loc[7, 'Duration'] = 45

df.loc[7]

Duration              45
Date        '2020/12/08'
Pulse                104
Maxpulse             134
Calories           253.3
Name: 7, dtype: object

Set boundaries to replace value

In [60]:
df = pd.read_csv('data2.csv')

for x in df.index:
    if df.loc[x, 'Duration'] > 120:
        df.loc[x, 'Duration'] = 120
        
df.head(8)

   Duration          Date  Pulse  Maxpulse  Calories
0        60  '2020/12/01'    110       130     409.1
1        60  '2020/12/02'    117       145     479.0
2        60  '2020/12/03'    103       135     340.0
3        45  '2020/12/04'    109       175     282.4
4        45  '2020/12/05'    117       148     406.0
5        60  '2020/12/06'    102       127     300.0
6        60  '2020/12/07'    110       136     374.0
7       120  '2020/12/08'    104       134     253.3

Remove row

In [62]:
df = pd.read_csv('data2.csv')

for x in df.index:
    if df.loc[x, 'Duration'] > 120:
        df.drop(x, inplace=True)

df.head(8)

   Duration          Date  Pulse  Maxpulse  Calories
0        60  '2020/12/01'    110       130     409.1
1        60  '2020/12/02'    117       145     479.0
2        60  '2020/12/03'    103       135     340.0
3        45  '2020/12/04'    109       175     282.4
4        45  '2020/12/05'    117       148     406.0
5        60  '2020/12/06'    102       127     300.0
6        60  '2020/12/07'    110       136     374.0
8        30  '2020/12/09'    109       133     195.1

#### **Removing duplicates**

Check for duplicates

In [63]:
df = pd.read_csv('data2.csv')

print(df.duplicated())

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12     True
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
31    False
dtype: bool

Drop duplicates

In [64]:
df.drop_duplicates(inplace=True)
# row index 12 is removed

df.duplicated()

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
31    False
dtype: bool